body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: white;
    font-size: 50px;
}

header{
    background-image: url(images/top-bg.png);
}

.header{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
}

.btn{
    text-decoration: none;
    border-radius: 5px;
    border: 3px solid #0077b6;
    background-color: #480ca8;
    padding: 5px 15px;
    color: white;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 45px 0;

}

a{
    color: whitesmoke;
    font-size: 20px;
}

.menu-bar-icon {
    display: none;
}

.menu-bar ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    text-decoration: none;
}

.menu-bar{
    width: 70%;
    
}

img{
    width: 100%;
}

.intro{
    display: flex;
    
}

.half-width{
    width: 50%;
}





section{
    padding: 100px 0;
}

/* -----------------------------players gallery---------------------------------------------- */
.players-gallery{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.players-gallery img{
    height: 100%;
}

.box{
    padding: 9px;
    box-shadow: .02px .02px 50px gray;
    height: 400px;
}

.player-pic{
    height: 50%;
}

.player-description{
    height: 50%;
    overflow: hidden;
}

/* -------------------------highlights section---------------------------------- */

.highlights-body{
    background-image: url(images/bg_2nd.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.highlights{
    
    width: 75%;
    margin: auto;
}

.highlights .into-pic{
    margin-left: 50px;
    
}




/* ----------------contact-------------------------- */
.contact input {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid grey;
    
}

.contact .btn{
    width: 30%;
    margin: auto;
}

.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    margin: auto;
    text-align: center;
}

/* -------------------------Footer section ---------------------------------- */

footer{
    width: 80%;
    margin: auto ;
    text-align: center;
}

footer img{
    margin: auto ;
}

.ft-1{
    width: 40%;
    margin: auto;
}

.f-icons{
    width: 25%;
    display: flex;
    margin: auto;
}

.f-icons a{
    padding: 10px;
}



@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }





/* Smartphones (portrait and landscape) ----------- */



@media only screen and (max-width: 600px) {
  body {
    background-color: #e8d6cb;
  }

  .menu-bar{
      display: none;
  }

  .menu-bar-icon {
    display: block;
}

  .menu-bar ul{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 5fr;
      grid-gap: 25px;
  }

  header{
    background-image: url(images/top-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

  .header .intro >div{
    padding: 25px 0;
  }

  .header .intro .intro-description{
      width: 100%;
  }  

  .header .intro .into-pic{
    width: 100%;
}

.header .intro .into-pic img{
    margin: auto;
}
    .header .intro{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        text-align: center;

    }

    .players-gallery{
        width: 80%;
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }


    .into-pic img{
        margin-left: -50px;
    }
  

    .highlights-body h1{
        /* margin: auto; */
        font-size: 40px;
        text-align: center;
    }

    .highlights-body .half-width{
        width: 100%;
    }
    
    .highlights-body .intro{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-gap: 25px;
        
        
        
    }



    .ft-1{
        width: 80%;
    }

    .f-icons{
        width: 60%;
    }

    footer{
        width: 80%;
        margin: auto;
        margin-top: 100px;
        text-align: center;
    }
    
 }







 /* Tab (portrait and landscape) ----------- */



@media only screen and (max-width: 800px) {
    body{
        background-color: lightgrey;
    }

    header .intro{
        display: flex;
        align-items: center;
        padding: 45px 0;
    }

    .player-description{
        overflow: hidden;
    }

    .players-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .ft-1{
        width: 60%;
    }

    .f-icons{
        width: 50%;
    }

    .highlights .intro{
        display: flex;
        align-items: center;

    }

    .highlights .intro h1{
        font-size: 35px;
    }

    /* .highlights .intro{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .highlights .intro .intro-description{
        width: 100%;
        margin-bottom: 30px;
    } */
    
   
}









